:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-gray: #eff2fc;
    --color-theme: #6366f1;
    --color-danger: #F5D7DA;
    --color-danger-dark: #e57e88;
    --color-success: #bcf7d2;
    --color-success-dark: #22c55E;
    --color-warning: #ffe8ad;
    --color-info: #cfdefd;
    --font-standard: "Manrope", sans-serif;
}
