

<section class="switch-light-and-dark">
    <div class="container lgdiv">
        <div class="lightdark">
            <h1><span class="white-text">Switch between</span> <span class="black-text">Light and Dark Mode</span></h1>
        </div>
        <img class="bwimg" src="Images/lightanddarklaptop.svg" alt="">
    </div>
</section>